@font-face {
  font-family: "myFontEnglesh";
  src: url("../fonts/MiSans-Medium.ttf");
}
html{
  font-size: 14px;
  font-family: 'myFontEnglesh', serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

button {
  background-color: #fff;
  border: none;
  outline: none;
}
input {
  outline: none;
}
.form-nav{
  display: flex;
  height: 60px;
  justify-content: space-between;
}
html {
  font-size: 16px;
}

::-webkit-resizer  {
  width: 2px;
}

::-webkit-scrollbar-corner{
  width: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}

